body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: rgb(75, 75, 209);
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  .casa{
    display: flex;
    /* width: 2440px;*/
    height: 360px; 
    background:url(/index/image/baner-1440x360.jpeg);
    background-size:contain; /*A imagem de fundo é dimensionada para cobrir todo o contêiner, mantendo a proporção e cortando o excesso se necessário.*/
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 40%;
    /* margin: 20px auto; */
    margin-top: 350px; 
    
  }
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(75, 75, 209);
    
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
    .minhaSecao{
        background-color: #fff;
    }

  .mostrarBotao{
    background-color: rgb(75, 75, 209);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .mostrarBotao:hover {
    background-color: rgb(75, 75, 209);
  }
  .oculta {
    display: none;}

    #mapa-assentos {
        display: grid;/* Duas colunas */
        background-color: lightgrey;
        border-radius: 40%;
        border: 1px solid  ;
        
     
    }
.mapa-assentos-contanier{ 
    margin-top: 250px;
    display: grid;
    justify-content: center; /*alinhar os itens ao longo do eixo principal do contêiner*/
    align-items: center;
   
}

    
    .assento {
        font-weight: bold;
        width: 104px;
        height: 104px;
        margin: 5px;
        cursor: pointer;
        border-radius: 25%;
        background-image: url(/index/image/assentoDarkBlue.png);
        /* background-image: url(/index/image/assentoGrey.png); */
        background-size: cover;
        color: black;
    }
/* cinza -> ocupado 
   azul claro -> seletor
   azul Escuro -> normal*/

    .assento.selecionado {
      background-image: url(/index/image/assentoLightBlue.png);}

    /* Estilos específicos para as asas esquerda e direita */
.asa {
    height: 140px; /* Ajuste a altura conforme necessário */
    background-color: #3498db; /* Cor de fundo da asa */
    position: absolute;
}

.asa.esquerda {
    width: 50px; /* Ajuste a largura conforme necessário */
    left: 0; /* Posiciona a asa à esquerda */
    transform: translateY(10%); /* Ajusta a posição verticalmente */
}

.asa.direita {
    width: 50px; /* Ajuste a largura conforme necessário */
    top: 50%; /* Posiciona a asa no centro verticalmente */
    right: 0; /* Posiciona a asa à direita */
    transform: translateY(-50%); /* Ajusta a posição verticalmente */
}

    